{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="">
        <div class="col-lg-5 mx-auto form-group border rounded mt-5 p-5">
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %} 
                <h3>Creat an Account</h3>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <p class="alert-heading">{{error}}</p>
                    </div>
                {% endif %}
                
                <label for="username">Username</label>
                <input type="text" class="form-control" placeholder="Username"name="username" id="username" value={{values.uname}}>
            
                <label for="email">Email</label>
                <input required type="email" class="form-control" placeholder="Email orPhone" name="email" id="email" value={{values.uemail}}>
            
                    <label for="password1">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password1" name="password1">
            
            
                <label for="password2">Confrom Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password"id="password2" name="password2">
                <br>
                <button type="submit" class="btn btn-primary">Create</button>
                    
                <a href="{% url 'login' %}" >I Already Have An Account</a>
                
            </form>
        </div>
    </div>
</div>
{% endblock  %}